@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  background-color: #0b1d26;
  color: #fff;
}
.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.custom-container {
  max-width: 1426px;
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.nav-container {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(11, 29, 38, 0.8);
  position: fixed !important;
  z-index: 11;
}
.navbar .nav-container {
  background-color: rgba(11, 29, 38, 0.8);
}
.navbar .navbar-brand img {
  width: 98px;
  height: 52px;
}

.navbar .navbar-nav {
  gap: 60px;
}
.navbar .navbar-toggler {
  box-shadow: none;
  border: none;
}
.navbar .navbar-nav .nav-link {
  transition: inherit;
  font-style: normal;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 14px;
  transition: all ease 0.5s;
}
.navbar .navbar-nav .nav-link:hover {
  color: #f8be58;
  text-decoration: underline;
  letter-spacing: 3px;
  transition: all ease 0.5s;
}
/* Media query */
@media screen and (max-width: 992px) {
  .navbar .navbar-collapse {
    position: absolute;
    top: 60px;
    left: 0px;
    right: 0px;
    background-color: rgb(3, 29, 38);
    width: 100%;
    text-align: center;
    z-index: 11;
  }
  .navbar .navbar-nav {
    gap: 20px;
  }
}

/* Hero */
.hero-section {
  overflow: hidden;
}
.hero-section .hero-content {
  position: relative;
}
.hero-section .hero-content .image-hero {
  position: absolute;
}
.hero-section .hero-content .hero-text-cont {
  position: relative;
  padding: 119px 0;
  margin-left: 20px;
}
.hero-section .hero-content .hero-text-cont p {
  color: #f8be58;
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  display: flex;

  align-items: center;
}
.hero-section .hero-content .hero-text-cont p span {
  background-color: #f8be58;
  display: block;
  width: 30px;
  height: 3px;
  margin-right: 10px;
}
.hero-section .hero-content .hero-text-cont h1 {
  font-size: 60px;
  font-weight: 800;
  color: #ffff;
  max-width: 60%;
  font-family: "Playfair Display", serif;
  line-height: inherit;
  margin-top: 44px;
}
@media screen and (max-width: 1370px) {
  .hero-section .hero-content .image-hero {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 576px) {
  .hero-section .hero-content .hero-text-cont h1 {
    font-size: 28px;
    max-width: 85%;
  }
}

/* partner section */

.Partners-section .Partners-cont {
  background-color: #ffffff53;
  border-radius: 10px;
  width: 78%;
  margin: 0 auto;
  padding: 20px 40px;
  transform: translateY(-18px);
}
h5 {
  color: #f8be58;
  font-size: 17px;

  margin: 0;
  display: flex;
  letter-spacing: 7.2px;
  align-items: center;
  margin-bottom: 20px;
}
h5 span {
  background-color: #f8be58;
  display: block;
  width: 30px;
  height: 3px;
  margin-right: 10px;
}

.Partners-section .Partners-cont .partner {
  width: 100%;
}
/* Media Query */
@media screen and (max-width: 992px) {
  .Partners-section .Partners-cont .partner {
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  .Partners-section .Partners-cont {
    transform: translateY(-54px);
    width: 92%;
  }
  .Partners-section .Partners-cont .row {
    justify-content: space-evenly !important;
  }
  .Partners-section .Partners-cont .row {
    gap: 10px;
  }
  .Partners-section {
    margin-top: 40px;
  }
}

/* about secion start */
.about-section {
  padding-top: 60px;
  padding-bottom: 100px;
}
.about-section p {
  font-size: 14px;
  letter-spacing: normal;
  line-height: 32px;
  font-weight: 300;
}
.about-section .num-image {
  position: absolute;
  top: 34px;
  left: 180px;
  width: 191px;
  height: 160px;
  object-fit: cover;
}
.reverse-order {
  order: -1; /* Set order to -1 to reverse */
}
/* Media Query start */
@media screen and (max-width: 992px) {
  .about-section .num-image {
    position: absolute;
    top: -33px;
    left: 53px;
    width: 226px;
    height: 189px;
    object-fit: cover;
  }
  .about-section h5 {
    margin-left: 30px;
  }
}
@media screen and (max-width: 767px) {
  .reverse-order {
    order: 1;
    margin-top: 70px;
  }
  .about-two {
    margin-top: 76px;
    margin-right: 91px;
  }
  .about-image {
    width: 186px;
    height: 194px;
    object-fit: cover;
    object-position: 50% 50%;
    position: relative;
    z-index: 11;
  }
  .about-image::before {
    content: " ";
    display: block;
    width: 119px;
    height: 181px;
    background-color: #5b5738;
    position: absolute;
    top: 25px;
    right: -83px;
    z-index: -1;
  }
  .about-section h5 {
    position: absolute;
    top: 60px;
  }
}
/* goal secion start */
.goal-section {
  padding-bottom: 100px;
}
@media screen and (min-width: 1440px) {
  .goal-section .num-image-2 {
    right: 520px !important;
  }
}
.goal-section .num-image-2 {
  position: absolute;
  top: 12px;
  right: 480px;
  width: 260px;
  height: 176px;
  object-position: 50% 50%;
  object-fit: cover;
}
.goal-section p {
  font-size: 14px;
  letter-spacing: normal;
  line-height: 32px;
  font-weight: 300;
}

@media screen and (max-width: 992px) {
  .goal-section .num-image-2 {
    position: absolute;
    top: -48px;
    left: 54px;
    width: 208px;
    height: 145px;
    object-fit: cover;
    object-position: 50% 50%;
    z-index: 1111;
  }
  .seabird-main {
    margin-top: 105px;
  }
  .goal-cont {
    margin-top: 85px;
  }
  .goal-section h5 {
    position: absolute;
    top: 45px;
    left: 48px;
  }
}
@media screen and (max-width: 767px) {
  .seabird-img {
    width: 273px;
    height: 308px;
    object-fit: cover;
    object-position: 50% 50%;
    margin-top: 20px;
  }
}
/* gallery section start */
.gallery-section .swiper {
  margin-top: 70px;
}
.gallery-section .swiper .swiper-wrapper {
  width: 100% !important;
}
.gallery-section .px-4 {
  padding-left: 2.4rem !important;
  padding-right: 2.4rem !important;
}
.gallery-section .slide1 {
  width: 100%;
  overflow: hidden;
  border: 1px solid #0b1d26;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #0b1d26;
  position: relative;
}
.gallery-section .slide1 h4 {
  position: relative;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}
.gallery-section .slide2 {
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #0b1d26;
  position: relative;
}
.gallery-section .slide1 img,
.gallery-section .slide2 img {
  transition: all ease-in 0.7s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery-section .swiper-slide:nth-child(1) .slide1 {
  height: 234px;
}
.gallery-section .swiper-slide:nth-child(1) .slide2 {
  height: 353px;
}
.gallery-section .swiper-slide:nth-child(2) .slide2 {
  height: 234px;
}
.gallery-section .swiper-slide:nth-child(2) .slide1 {
  height: 353px;
}
.gallery-section .swiper-slide:nth-child(3) .slide1 {
  height: 234px;
}
.gallery-section .swiper-slide:nth-child(3) .slide2 {
  height: 353px;
}
.gallery-section .swiper-slide:nth-child(4) .slide2 {
  height: 234px;
}
.gallery-section .swiper-slide:nth-child(4) .slide1 {
  height: 353px;
}

.gallery-section .swiper-slide:nth-child(5) .slide1 {
  height: 234px;
}
.gallery-section .swiper-slide:nth-child(5) .slide2 {
  height: 353px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
.swiper-button-next i,
.swiper-button-prev i {
  font-size: 45px;
  color: #fff;
}
.slide1:hover img,
.slide2:hover img {
  transform: scale(1.1);
  transition: all ease-in 0.7s;
}

.slide1 .overlay,
.slide2 .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to top, rgba(10, 10, 10, 0.266), transparent);
  transition: all ease 0.3s;
  display: block;
}

.slide1:hover .overlay,
.slide2:hover .overlay {
  display: none;
  transition: all ease 0.3s;
}

.slide1 .overlay h4,
.slide2 .overlay h4 {
  position: absolute;
  bottom: 30px;
  left: 45px;
  font-size: 20px;
  font-weight: 500;
  z-index: 11;
  transition: all ease 0.5s;
}

.slide1:hover .overlay h4,
.slide2:hover .overlay h4 {
  display: block;
  transition: all ease 0.5s;
}

.gallery-section .swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

.gallery-section .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* media Query */
@media screen and (max-width: 767px) {
  .gallery-section .swiper-slide {
    width: 100% !important;
  }
  .gallery-section .swiper-slide > div {
    width: 100% !important;
    max-width: 420px;
  }
  .gallery-section h5 {
    margin-left: 18px !important;
  }
}

/* seabird section start */
.Seabird-section {
  padding-top: 100px;
  padding-bottom: 50px;
}
.Seabird-section h5 {
  color: #f8be58;
  font-size: 17px;

  margin: 0;
  display: flex;
  letter-spacing: 0.5px;
  align-items: center;
  margin-bottom: 20px;
}
.Seabird-section h5 span {
  background-color: #f8be58;
  display: block;
  width: 30px;
  height: 3px;
  margin-right: 10px;
}
.Seabird-section h1 {
  font-size: 56px;
  font-family: "Playfair Display", serif;
  margin-bottom: 50px;
}
.Seabird-section .px-4 {
  padding-left: 2.4rem !important;
  padding-right: 2.4rem !important;
}
.Seabird-section .seabird-img {
  overflow: hidden;
}
.Seabird-section .seabird-img img:hover {
  transform: scale(1.1);
  transition: all ease-in 0.7s;
}
/* seabird section end */

/* gallery section end */

/* contact section start */
.contact-section {
  padding-bottom: 100px;
}
.contact-section .contact-col {
  position: relative;
}
.contact-section .contact-col::before {
  border-radius: 5px;
  bottom: 0;
  box-shadow: inset 0 0 6px 0 hsla(0, 0%, 100%, 0.59),
    inset 0 1px 0 0 hsla(0, 0%, 100%, 0.92),
    inset 0 0 5px 0 hsla(0, 0%, 100%, 0.2);
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}
.contact-section img {
  box-shadow: var(0 2px 5px rgba(0, 0, 0, 0.53), 0 2px 5px rgba(0, 0, 0, 0.53));
  border-radius: 5px;
}
.contact-section form label {
  font-size: 14px;
  font-weight: 300;
}
.contact-section form input {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #fff;
  outline: none;
  box-shadow: none !important;
  color: #fff !important;
  font-size: 14px;
  font-weight: 300;
  background-color: transparent;
}
.contact-section form input::placeholder {
  color: #fff;
  background-color: transparent;
}

.contact-section form textarea {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #fff;
  outline: none;
  box-shadow: none !important;
  color: #fff !important;
  font-size: 14px;
  font-weight: 300;
}
.contact-section form button {
  border-radius: 0;
  font-size: 14px;
  font-weight: 300;
  padding: 6px 60px;
}
/* Media Query */

@media screen and (max-width: 992px) {
  .contact-cont {
    margin-top: 85px;
  }
}
.form-control:focus {
  box-shadow: none;
  border-color: black;
}
@media screen and (max-width: 576px) {
  .contact-cont {
    margin-top: 85px;
    padding: 0 40px;
  }
}
/* footer start */
footer {
  border-top: 4px solid #595959;
  padding: 30px 0;
}

footer a img {
  width: 122px;
  height: 65px;
}
footer p {
  font-size: 14px;
  font-weight: 300;
}
footer ul {
  padding: 0;
}
footer ul li {
  list-style: none;
  font-size: 14px;
  font-weight: 300;
}
@media screen and (max-width: 576px) {
  .row {
    justify-content: center !important;
  }
  .footer-col {
    text-align: center;
  }
  .footer-col p {
    margin-top: 10px;
    display: none;
  }
  .footer-col1 {
    margin-top: 20px;
  }
  #swiperBtnPrev,
  #swiperBtnNext,
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
/* modal section start */

.modal-dialog {
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  margin: 0;
}

.modal-dialog .modal-content {
  opacity: 0;
  transition: all 0.2s linear;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.show .modal-content {
  opacity: 111;
  transform: scale(1);
  transition: all 0.2s linear;
  position: relative;
  border: unset !important;
}
.modal-dialog .modal-content .close-btn.back-btn {
  display: none;
}
.modal-dialog .modal-content .close-btn {
  position: absolute;
  top: 30px;
  right: 50px;
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  z-index: 11;
}

.modal-dialog .modal-content .modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-dialog .modal-content .modal-body h1 {
  font-size: 30px;
  color: black;
}
.modal-dialog .modal-content .modal-body a {
  font-size: 15px;
  font-weight: 400;
  color: black;
}
.modal-dialog .modal-content .modal-body .myModalSwiper2 {
  max-height: 64vh;
  height: 100%;
}
.modal-dialog .modal-content .modal-body .myModalSwiper {
  max-height: 30vh;
  height: 140px;
}

.modal-dialog .modal-content .modal-body .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-dialog .modal-content .modal-body .myModalSwiper2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.modal-dialog .modal-content .modal-body .myModalSwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-dialog .modal-content .modal-body .myModalSwiper .swiper-slide {
  height: 100%;
  opacity: 0.7;
  transition: all 0.35s;
}

.modal-dialog
  .modal-content
  .modal-body
  .myModalSwiper
  .swiper-slide-thumb-active {
  opacity: 1;
  border: 2px solid #0b1d26;
}

/* Media Query */
@media screen and (max-width: 992px) {
  .modal-dialog .modal-content .modal-body h1 {
    text-align: center !important;
    margin-top: 10px;
    font-size: 28px;
  }
  .modal-dialog .modal-content .modal-body a {
    text-align: center !important;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}
@media screen and (max-width: 576px) {
  .modal-dialog .modal-content .me-5 {
    margin-right: 10px !important;
  }
  .modal-dialog .modal-content .ms-5 {
    margin-left: 10px !important;
  }
  .modal-dialog .modal-content .img-cont {
    max-width: 828px;
    width: 100%;
    height: unset !important;
  }
  .modal-dialog .modal-content .close-btn {
    display: none;
  }
  .modal-dialog .modal-content .close-btn.back-btn {
    left: 16px !important;
    display: block;
  }
  .modal-dialog .modal-content .modal-body .myModalSwiper2 {
    max-height: 50vh;
  }
  .modal-dialog .modal-content .modal-body .myModalSwiper {
    max-height: 20vh;
    height: 100px;
  }
}
